<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.cmlibrary"
    android:versionCode="1"
    android:versionName="1.0" >

    <application android:allowBackup="true" >

        <!--  -->
        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <activity
            android:name=".CompanySkillsActivity"
            android:label="@string/title_activity_company_skills" >
        </activity>
    </application>

</manifest>